#ebook {
   margin: 1em;
   border: 2px solid black;
}

@media(max-width: 400px){ #ebook { margin: 0.4em; } }
@media(min-width: 400px){ #ebook { margin: 0.5em; } }

#ebook:hover {
   background-color:rgba(150,150,150,0.5);
   user-select: none;
}
#ebook * {
   margin: 0;
   padding: 0;
}
#ebook img {
   display: block;
   margin: 1em auto;
   width: 80%;
}
#ebookAuthor {
   color: gray;
}
#ebookTitle, #ebookAuthor, #ebookDescription { text-align: center; }
#ebookTitle, #ebookAuthor, #ebookLang { margin: 0; }
#ebookDescription {
   margin: 1em;
}