#ebooksPageContainer {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
}
@media(max-width: 1200px){
   #ebooksPageContainer { grid-template-columns: repeat(6, 1fr); }
}
@media(max-width: 900px){
   #ebooksPageContainer { grid-template-columns: repeat(4, 1fr); }
}
@media(max-width: 600px){
   #ebooksPageContainer { grid-template-columns: repeat(3, 1fr); }
}
@media(max-width: 450px){
   #ebooksPageContainer { grid-template-columns: repeat(2, 1fr); }
}
.ebooksPage h2 {
   margin: 1em;
}