#Header {
   border-bottom: 4px solid var(--main-theme);
}
#Header h1 {
   text-align: center;
}
#Header div {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
@media(max-width: 350px){
   #Header-container * {
      font-size: 0.85em;
   }
}